data/CBS_Graph/*
data/Random_Graph/*
data
*.mat
.ipynb_checkpoints/*
data/*.cnf
*.pyc
*.csv
*.xml
*.txt
.idea
result_*
.idea
.ipynb_checkpoints
__pycache__
res_*
general*
gcnwts1
*.png
*.out
*.xlsx
self_improve*
shallow11
*.fig
fig/
model/
output/
venv/*
py39/*
